{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
</head>
<body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'signin.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <body class="loginBody" id="loginBody">
        <div id="particles-js">
            <form action="/signin/" method="POST" class="loginBox">
                {% csrf_token %}
                <h1 class="titleLogin">Iniciar sesión</h1>
                <div class="inputBox">
                    <input type="text" name="username" id="username" class="inputs" />
                    <label for="username" class="labelInput">Usuario</label>
                </div>
                <div class="inputBox">
                    <input type="password" id="password" name="password" class="inputs" />
                    <label for="password" class="labelInput">Contraseña</label>
                    <img src="{% static 'eye.svg' %}" class="togglePassword" id="eye-open" />
                    <img src="{% static 'eye-slash.svg' %}" class="togglePassword" id="eye-closed" style="display: none;" />
                </div>
                <button class="btnLogin">Iniciar Sesión</button>
                <p>Si aun no tienes una cuenta <a href="/signup/">registrate!</a></p>
                {% if error %}
                <span class="errorSignin">{{error}}</span>
                {% endif %}
            </form>
        </div>
        <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
    
        <script src="{% static 'login.js' %}"></script>
        
    </body>
    <style>
        
    </style>
    {% endblock content %}

</body>
</html>