<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="styles/styles.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  </head>

  <body class="loginBody" id="loginBody">
    <div id="particles-js">
      <div class="loginBox">
        <h1 class="titleLogin">Inicio Sesion</h1>
        <div class="inputBox">
          <input type="text" name="username" id="username" class="inputs" />
          <label for="username" class="labelInput">Usuario</label>
        </div>
        <div class="inputBox">
          <input type="password" id="password" class="inputs" />
          <label for="password" class="labelInput">Contraseña</label>
          <img src="./imgs/eye.svg" class="togglePassword" />
        </div>
        <button class="btnLogin">Iniciar Sesion</button>
      </div>
    </div>

    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>

    <script src="./js/login.js"></script>
  </body>
</html>
