{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Zona</title>
</head>

{% block content %}
<link rel="stylesheet" href="{% static 'agregarZona.css' %}">
    <div class="container">
        <form action="{% url 'agregarZona' %}" method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" placeholder="Nombre de la zona..." name="nombre_zona" required>
            <input type="number" name="cant_pacientes" placeholder="Máximo de pacientes..." required>
            <input type="file" name="zonaFoto" id="zonaFoto" required>
            <button>Crear</button>
            <p class="error">{{error}}</p>
        </form>
    </div>
{% endblock content %}

</html>