{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar paciente</title>

</head>
<body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'agregarPaciente.css' %}">
    <div class="container">
        <h1>Crear Nuevo Paciente</h1>
        <form action="{% url 'crear_paciente' id %}" method="POST" class="paciente-form">
            {% csrf_token %}
            <div class="form-column">
                <div class="form-group">
                    <label for="{{ formPaciente.nombre_paciente.id_for_label }}">Nombre:</label>
                    {{ formPaciente.nombre_paciente }}
                </div>
                <div class="form-group">
                    <label for="{{ formPaciente.apellido_paciente.id_for_label }}">Apellido:</label>
                    {{ formPaciente.apellido_paciente }}
                </div>
                <div class="form-group">
                    <label for="{{ formPaciente.fecha_nac_paciente.id_for_label }}">Fecha de Nacimiento: (aaaa-mm-dd)</label>
                    {{ formPaciente.fecha_nac_paciente }}
                </div>
                <div class="form-group">
                    <label for="{{ formPaciente.dni_paciente.id_for_label }}">DNI:</label>
                    {{ formPaciente.dni_paciente }}
                </div>
                <div class="form-group">
                    <label for="{{ formPaciente.perfil.id_for_label }}">Perfil:</label>
                    {{ formPaciente.perfil }}
                </div>
                <div class="form-group">
                    <label for="{{ formPaciente.domicilio_paciente.id_for_label }}">Domicilio:</label>
                    {{ formPaciente.domicilio_paciente }}
                </div>
                <div class="form-group">
                    <label for="{{ formPaciente.genero_paciente.id_for_label }}">Género:</label>
                    <select name="{{ formPaciente.genero_paciente.name }}" id="{{ formPaciente.genero_paciente.id_for_label }}">
                        <option value="F">F</option>
                        <option value="M">M</option>
                    </select>
                </div>
            </div>
            <div class="form-column">
                <div class="form-group">
                    <label for="{{ formPaciente.telefono_paciente.id_for_label }}">Teléfono:</label>
                    {{ formPaciente.telefono_paciente }}
                </div>
                <div class="form-group">
                    <label for="{{ formPaciente.email_paciente.id_for_label }}">Email:</label>
                    {{ formPaciente.email_paciente }}
                </div>
                <div class="form-group">
                    <label for="{{ formPaciente.grupo_sanguineo.id_for_label }}">Grupo Sanguíneo:</label>
                    {{ formPaciente.grupo_sanguineo }}
                </div>
                <div class="form-group">
                    <label for="{{ formPaciente.peso_paciente_kg.id_for_label }}">Peso (kg):</label>
                    {{ formPaciente.peso_paciente_kg }}
                </div>
                <div class="form-group">
                    <label for="{{ formPaciente.altura_paciente.id_for_label }}">Altura:</label>
                    {{ formPaciente.altura_paciente }}
                </div>
                <div class="form-group">
                    <label for="{{ formPaciente.alergias.id_for_label }}">Alergias:</label>
                    {{ formPaciente.alergias }}
                </div>
            </div>
            <button class="btn-submit" type="submit">Crear</button>
        </form>
    </div>
{% endblock content %}

    
</body>
</html>