{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar medico</title>
</head>
<body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'agregarEnfermero.css' %}">
    <div class="container">
        <form action="{% url 'agregarMedico' %}" method="POST" class="medico-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.nombre_medico.id_for_label }}">Nombre:</label>
                {{ form.nombre_medico }}
            </div>
            <div class="form-group">
                <label for="{{ form.apellido_medico.id_for_label }}">Apellido:</label>
                {{ form.apellido_medico }}
            </div>
            <div class="form-group">
                <label for="{{ form.dni_medico.id_for_label }}">DNI:</label>
                {{ form.dni_medico }}
            </div>
            <div class="form-group">
                <label for="{{ form.fecha_nac_medico.id_for_label }}">Fecha de Nacimiento (aaaa-mm-dd):</label>
                {{ form.fecha_nac_medico }}
            </div>
            <div class="form-group">
                <label for="{{ form.domicilio_medico.id_for_label }}">Domicilio:</label>
                {{ form.domicilio_medico }}
            </div>
            <div class="form-group">
                <label for="{{ form.zona.id_for_label }}">Zona:</label>
                {{ form.zona }}
            </div>
            <button class="btn-submit" type="submit">Crear</button>
        </form>
    </div>
{% endblock content %}

    
</body>
</html>