{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Zona</title>

</head>
<body>
    {% block content %}
        <h1>Reporte del paciente {{paciente.nombre_paciente}}</h1>
        <form action="{% url 'generarReporte' paciente.id %}" method="POST">
            {% csrf_token %}
            <textarea name="consulta" id="" cols="30" rows="10" placeholder="Detalles de la consulta..."></textarea>
            <button>
                Generar reporte y finalizar llamado
            </button>
        </form>
    {% endblock content %}

    
</body>
</html>