{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Zona</title>

</head>
<body>
    {% block content %}
        {% if pacientes %}
            {% for paciente in pacientes %}
            <a href="{% url "detalle_zona" paciente.zona.id %}" class="paciente">
                <p>{{paciente.dni_paciente}} | {{paciente.nombre_paciente}} {{paciente.apellido_paciente}} | {{paciente.zona.nombre_zona}} | {{paciente.medico_asignado.nombre_medico}}</p>
            </a>
            <section class="modal_editar">
                <div class="modal_container">
                    <button href="#" class="modal_close">X</button>
                
                </div>
            </section>
        {% endfor %}
    {% else %}
        <p>No hay ningun paciente en este momento</p>
    {% endif %}

    <style>
        .paciente{
            border: 1px solid black;
            padding: 5px;
            display: flex;
            cursor: pointer;
            text-decoration: none;
            color: black;
            justify-content: space-between;
        }
        
        .paciente:hover{
            background-color: rgb(243, 243, 243);
        }

        .pacientes{
            width: 100vw;
        }
    </style>
    <script>
        const editButton = document.querySelectorAll(".editButton")
        const modal_editar = document.querySelector(".modal_editar")
        const modal_close = document.querySelectorAll('.modal_close')
        editButton.forEach(button =>{
            button.addEventListener('click', (e)=>{
                e.preventDefault()
                modal_editar.classList.add("modal--show")
            })
        })
    
        modal_close.forEach(button=>{

            button.addEventListener('click', (e)=>{
              e.preventDefault()
              modal_editar.classList.remove("modal--show")
        })
        })
    </script>
    {% endblock content %}

    
</body>
</html>