{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Zona</title>

</head>
<body>
    {% block content %}
    <h1>{{perfil.user.username}}</h1>
    <form action="{% url 'llamar' perfil.id 0 %}" method="POST">
        {% csrf_token %}
        {% if perfil.isCalling %}
            <button disabled>LLAMANDO</button>
        {% else %}
            <button>
                LLAMAR DE EMERGENCIA
            </button>
        {% endif %}
    </form>
    <form action="{% url 'llamar' perfil.id 1 %}" method="POST">
        {% csrf_token %}
        {% if perfil.isCallingNormal %}
            <button disabled>LLAMANDO</button>
        {% else %}
            <button>
                LLAMAR NORMAL
            </button>
        {% endif %}
    </form>
    <style>
    
    </style>
    {% endblock content %}

    
</body>
</html>