{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes</title>
</head>
<body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'reportes.css' %}">
    <h1>Reportes</h1>
    <div class="filtrar">
        <a href="{% url 'exportarReportes' %}" class="expReporte">
            <button class="btn-exportar">
                <img src="{% static 'csv.png' %}" alt="Exportar Reportes">
            </button>
        </a>
        <form action="{% url 'verReportes' %}" method="POST" class="filtrar-form">
            {% csrf_token %}
            <div class="filtrar-group">
                <label for="filtroZona">Filtrar por Zona:</label>
                <select name="filtroZona" id="filtroZona" class="select-filter">
                    <option value="todas">Todas las Zonas</option>
                    {% for zona in zonas %}
                    <option value="{{ zona.id }}">{{ zona.nombre_zona }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filtrar-group">
                <label for="origenLlamado">Filtrar por Origen:</label>
                <select name="origenLlamado" id="origenLlamado" class="select-filter">
                    <option value="todos">Todos los origenes</option>
                    <option value="cama">Cama</option>
                    <option value="baño">Baño</option>
                </select>
            </div>
            <div class="filtrar-group">
                <label for="fechaReporte">Filtrar por Fecha:</label>
                <input type="date" name="fechaReporte" id="fechaReporte" class="input-filter" placeholder="Fecha del Reporte">
            </div>
            <div class="filtrar-group">
                <label for="horaReporte">Filtrar por Hora:</label>
                <input type="time" name="horaReporte" id="horaReporte" class="input-filter" step="60" placeholder="Hora del Reporte">
                <span class="mensajeHora">Margen de ± 5 minutos</span>
            </div>
            <button type="submit" name="filtrar" class="btn-submit">Filtrar</button>
        </form>
    </div>
    
    
    <div class="reportes">
        {% if reportes %}
        
        {% for reporte in reportes %}
        <div class="reporte">
                    <p>{{reporte.llamado.paciente.nombre_paciente}} | {{reporte.llamado.zona}} | {{reporte.llamado.origen}} | {{reporte.llamado.paciente.genero_paciente}}</p>
                    <p>{{reporte.consulta}}</p>              
                    <div class="rightReporte">
                        <div class="fechas">

                            <p>Llamado iniciado: {{reporte.llamado.created_at}}</p>
                            <p>Llamado terminado: {{reporte.created_at}}</p>
                        </div>
                        <a href="{% url 'exportarIdReportes' reporte.id %}" class="expReporte expReporte2">
                            <button class="btn-exportar">
                                <img src="{% static 'csv.png' %}" alt="Exportar Reportes">
                            </button>
                        </a>
                    </div>
                </div>        
                {% endfor %}
                <p class="averageTime">Tiempo promedio de atencion: {{tiempo_promedio}} minutos</p>
                {% else %}
                <p class="noHay">No se ha encontrado ningun reporte</p>
        {% endif %}

    </div>    




    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <div class="graficos">

        <figure class="highcharts-figure">
            <div id="container1"></div>
        </figure>
        <figure class="highcharts-figure">
            <div id="container2"></div>
        </figure>
        <figure class="highcharts-figure">
            <div id="container3"></div>
        </figure>
        <figure class="highcharts-figure">
            <div id="container4"></div>
        </figure>
    </div>

    <script data-username="{{ zonaReporte }}" data-reportes="{{zonas_reportes}}">
        const data = document.currentScript.dataset;
        const zonas = data.username.split(',').map(zone => {
            if (zone.startsWith("['")) {
                console.log("hola")
                zone = zone.slice(2);
            }
            if (zone.endsWith("']")) {
                zone = zone.slice(0, -2);
            }
            return zone;
        });
        const zonasReportes = data.reportes.split(',').map(zone => {
            if (zone.startsWith("['")) {
                console.log("hola")
                zone = zone.slice(2);
            }
            if (zone.endsWith("']")) {
                zone = zone.slice(0, -2);
            }
            return zone;
        });
        console.log(data)


        
        Highcharts.chart('container1', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Pacientes por zona'
        },
        xAxis: {
            categories: zonas,
        
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Cantidad de pacientes'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Usuarios',
            showInLegend: false,
            data: {{ pacientesPorZona|safe }},
    
        }]
    });

    Highcharts.chart('container2', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Reportes por zona'
        },
        xAxis: {
            categories: zonasReportes,
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Cantidad de reportes'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Usuarios',
            showInLegend: false,
            data:  {{ reportesPorZona|safe }},
        }]
    });

    const reportesPorGenero = {{ reportesPorGenero|safe }};
    Highcharts.chart('container3', {
        chart: {
            type: 'pie'
        },
        title: {
            text: 'Reportes por Género'
        },
        tooltip: {
            pointFormat: '<b>{point.name}: {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    connectorColor: 'silver'
                }
            }
        },
        series: [{
            name: 'Porcentaje',
            data: reportesPorGenero.map(item => ({
                name: item['llamado__paciente__genero_paciente'],
                y: item['porcentaje']
            })),
        }]
    });
    const reportesPorOrigen= {{ reportesPorOrigen|safe }};
    Highcharts.chart('container4', {
        chart: {
            type: 'pie'
        },
        title: {
            text: 'Reportes por origen'
        },
        tooltip: {
            pointFormat: '<b>{point.name}: {point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    connectorColor: 'silver'
                }
            }
        },
        series: [{
            name: 'Porcentaje',
            data: reportesPorOrigen.map(item => ({
                name: item['llamado__origen'],
                y: item['porcentaje']
            })),
        }]
    });
    
    

    

    </script>

    {% endblock content %}

    
</body>
</html>
