
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alarma Codigo Azul</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'main' %}"><img src="{% static 'logo.png' %}" alt=""><a>
        <ul class="">
            {% if user.is_staff %}
            <li>
              <a href="{% url 'home' %}">Zonas</a>
            </li>
            <li>
              <a href="{% url 'agregarZona' %}">Agregar zona</a>
            </li>
            <li>
              <a href="{% url 'agregarMedico' %}">Agregar medico</a>
            </li>
            <li>
              <a href="{% url 'pacientes' %}">Pacientes</a>
            </li>
            <li>
              <a href="{% url 'verReportes' %}">Reportes</a>
            </li>
            
            {% endif %}
            
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Salir</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Registrarse</a></li>
            <li ><a href="{% url 'signin' %}">Iniciar Sesion</a></li>
            <li>
            </li>
            {% endif %}
            {% if user.is_authenticated and not user.is_staff%}
            <a href="{% url 'perfil' %}">Perfil</a>
            {% endif %}
          </ul>
    </header>
    {% block content %}
    {% endblock content %}

</body>
</html>